
@model mvcProject.Models.LoginTable3

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Sign Up </title>

    <link href="bootstrap.css" rel="stylesheet" />
    <script src="bootstrap.js"></script>
    <script src="jquery-1.11.2.min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="application.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />



</head>
<body>

    
        <div class="container">    
        
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">
                            Sign Up

                        </div>
                       
                
                     </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        
                        
                        @using( Html.BeginForm("signUp2" , "signUp", FormMethod.Post)){
                            @Html.ValidationSummary();    
                            <div class="form-group">
                                    
                                    <label for="UserName" class="col-md-3 control-label">User Name</label>
                                    <div style="margin-bottom: 10px" class="col-md-9">
                                    
                                       @Html.TextBoxFor(m => m.UserName, new { id="UserId", type="text", @class="form-control", placeholder="Username"});
                                       @Html.ValidationMessageFor(m=>m.UserName);
                                        @*    <input id="UserId" type="text" class="form-control" name="UserId" placeholder="Username"/>*@
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="Password" class="col-md-3 control-label">Password</label>
                                    <div style="margin-bottom: 10px" class="col-md-9">
                                        
                                        @Html.TextBoxFor(m => m.Password, new {  type="password", @class="form-control", name="Password", placeholder="Password"});
                                       @Html.ValidationMessageFor(m=>m.Password); 
                                        @*<input type="password" class="form-control" name="Password" placeholder="Password"/>*@
                                    </div>
                                </div>


                      
                            <div class="form-group">
                           
                                <!-- Button -->                                        
                              
                                <div  style="margin-bottom: 15px ; float:right" class="col-md-3 control-label">
                                  <input type="submit" id="btn-signup" class="btn btn-info"  value="Sign Up"/>
                                     @*<button id="btn-signup" type="button" class="btn btn-info" ">  &nbsp Sign Up</button> *@
                              
                                </div>
                      
                            </div>
                            
                }
                

                    </div>  
        
            </div>
                         
        </div>
        
                </div>
    


    <hr />

         
            


    <script>

        $(document).ready(function(){

            
                //var a = $('#email').val();
                //var b = $('#fullname').val();
                //var c = parseInt(a) + parseInt(b);
            
            $('#btn-signup').click(function () {
                //$('#username').val(parseInt($('#email').val()) + parseInt($('#fullname').val()));
                })
            
            
        })
    </script>

</body>


</html>
